#game-container {
    width: 600px;
    height: 600px;
    border: 1px solid #000;
    margin: 0 auto;
  }
  
  .board {
    display: grid;
    grid-template-columns: repeat(15, 1fr);
    grid-template-rows: repeat(15, 1fr);
  }
  
  .board div {
    border: 1px solid #000;
  }
  
  .black {
    background-color: #000;
  }
  
  .white {
    background-color: #fff;
  }
  